# Build artifacts
build/
dist/
py_launcher_dist/
*.spec

# Archives
portable.7z

# Compiled Binaries
bin/Launcher.exe
bin/Launcher.c.exe
bin/Launcher.py.exe

# Python cache
__pycache__/
*.py[cod]

# Local configuration and logs
*.ini
*.log

# Index and cache files
*.old
steam_filtered.txt
*.cache
*.index
*.bak
*.obj

# IDE specific
.vscode/
.idea/
.kiro/
.kilo/
.copilot/
.devcontainer/

# Running App Files
Profiles/
Launchers/

# Bin Includes
/bin/
!bin/Launcher.sh
!bin/Launcher.bat
!bin/Launcher.exe
!bin/Launcher.c.exe
!bin/Launcher.py.exe
!bin/Shortcut.exe
!bin/Shortcut.exe
!bin/7z.exe