py7zr
PyQt6
nltk
requests
beautifulsoup4
configparser
psutil
pygame
pyinstaller 
cloudscraper
pystray
pillow
rapidfuzz
winshell
pywin32

#setuptools
#screeninfo
#qdarkstyle
#pyqtdarktheme
#PyQt6-Fluent-Widgets[full]
#PyQt6-Qlementine
