setuptools
py7zr
PyQt6
nltk
requests
screeninfo
beautifulsoup4
configparser
psutil
pygame
pyinstaller 
cloudscraper
pystray
pillow
winshell
pywin32

qdarkstyle
pyqtdarktheme
PyQt6-Fluent-Widgets[full]
PyQt6-Qlementine
