py7zr
PyQt6
nltk
requests
beautifulsoup4
configparser
psutil
pygame
pyinstaller 
cloudscraper
pystray
pillow
rapidfuzz

setuptools
qdarkstyle
screeninfo
PyQt6-Fluent-Widgets[full]
pyqtdarktheme
PyQt6-Qlementine
