setuptools
py7zr
PyQt6
nltk
winshell
pywin32
requests
beautifulsoup4
configparser
psutil
pygame
pyinstaller 
cloudscraper
pystray
pillow

#screeninfo
#qdarkstyle
#qtdarktheme
#PyQt6-Fluent-Widgets
#PyQt6-Qlementine
