py7zr
PyQt6
nltk
requests
beautifulsoup4
configparser
psutil
pygame
pyinstaller 
cloudscraper 

# Optional theming libraries (install any/all to enable additional themes)
# PyQt6-Fluent-Widgets
# qt-dark-theme
# QDarkStyleSheet
